{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "endOfLine": "lf",
  "tabWidth": 2,
  "printWidth": 500,
  "overrides": [
    {
      "files": "*",
      "options": {
        "parser": "none",
        "semi": false,
        "singleQuote": false,
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
